{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for post in post_list %}
                    <div class="post-entry mb-4">
                        <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
                        {% if post.image %}
                            <div class="mb-3">
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
                            </div>
                        {% endif %}
                        <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
                        <p>{{ post.body|truncatewords:30|linebreaks }}</p>
                    </div>
                {% endfor %}
                {% include "pagination.html" with page=posts %}
            </div>
            <div class="col-md-4">
                <div id="sidebar" class="sticky-top" style="top: 1rem;">
                    <h2>My blog</h2>
                    <p>This is my blog.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}