{% extends 'base.html' %}

{% block content %}
  <h1>Dashboard</h1>
  {% if company_devices_data %}
    <h2>Your Companies</h2>
    <div>
      {% for company_data in company_devices_data %}
        <h3>{{ company_data.company.name }}</h3>
        <ul>
          {% for device_data in company_data.devices_data %}
            <li>
              <a href="{% url 'device_detail' company_id=company_data.company.pk pk=device_data.device.pk %}">{{ device_data.device.name }}</a><br>
              Total Bag Number: {{ device_data.total_bags }}<br>
              Average Time: {{ device_data.average_time|floatformat:2 }} seconds
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  {% else %}
    <p>You don't have any companies yet.</p>
  {% endif %}
{% endblock %}


{% comment %} {% extends 'base.html' %}

{% block content %}
  <h1>Dashboard</h1>
  {% if companies %}
    <h2>Your Companies</h2>
    <ul>
      {% for company in companies %}
        <li><a href="{% url 'company_detail' pk=company.pk %}">{{ company.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You don't have any companies yet.</p>
  {% endif %}

  {% if latest_data %}
    <h2>Latest Data</h2>
    <ul>
      {% for data in latest_data %}
        <li>{{ data.timestamp }} - {{ data.value }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %} {% endcomment %}

