{% extends 'base.html' %}
{% comment %} {% load templatetags %}
{% load division_filters %} {% endcomment %}
{% block content %}
  <h1>Dashboard</h1>
  {% if company_devices_data %}
    <h2>Your Companies</h2>
    <div class="container">
      <div class="row">
        {% for company_data in company_devices_data %}
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">{{ company_data.company.name }}</h3>
                <ul class="list-group list-group-flush">
                  {% for device_data in company_data.devices_data %}
                    <li class="list-group-item">
                      <a href="{% url 'device_detail' company_id=company_data.company.pk pk=device_data.device.pk %}">{{ device_data.device.name }}</a><br>
                      Total Bag Number: {{ device_data.total_bags }}<br>
                      Average Time: {{ device_data.average_time|floatformat:2 }} seconds<br>
                      Average of Bags: {{ device_data.average_only|floatformat:2 }}<br>                    
                      {% comment %} Average of Bags: {{ 3600|divide:device_data.average_per_hour|floatformat:2 }}<br>                     {% endcomment %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <p>You don't have any companies yet.</p>
  {% endif %}
{% endblock %}